@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --tw-prose-body: #222;
  @media (prefers-color-scheme: dark) {
    &,
    & .prose {
      --tw-prose-headings: #ccc;
      --tw-prose-body: #ccc;
    }
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Override tailwind */
.n-form-item
  .n-form-item-feedback-wrapper
  .n-form-item-feedback.n-form-item-feedback--warning {
  --tw-prose-links: var(--n-feedback-text-color-warning);
}
