name: Check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install
      - run: pnpm check

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.14.0

      - name: Restore cached fonts
        uses: actions/cache@v4
        id: cache
        with:
          path: |
            fonts/
          key: fonts-${{ hashFiles('scripts/download-fonts.ts') }}
          restore-keys: |
            fonts-${{ hashFiles('scripts/download-fonts.ts') }}
            fonts-

      - run: pnpm just build-assets
      - uses: actions/upload-artifact@v4
        with:
          name: public-assets
          path: |
            public/docs/
            src/assets/font_samples.json
      - run: pnpm build
