name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.14.1

      - name: Restore cached fonts
        uses: actions/cache@v5
        id: cache
        with:
          path: |
            fonts/
          key: fonts-${{ hashFiles('scripts/download-fonts.ts') }}
          restore-keys: |
            fonts-${{ hashFiles('scripts/download-fonts.ts') }}
            fonts-

      - run: pnpm just build-assets
      - run: pnpm build
      - id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/

  deploy:
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
